* {
  font-family: 'Noto Sans JP', sans-serif; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

html {
  height: 100%; }

/* CLASSES */
.bg-image {
  background-image: url("/img/background.jpg");
  position: static;
  /* Add the blur effect */
  filter: blur(50px);
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.display-1 {
  font-size: 96px; }

.intro {
  background: #e1e1e1;
  /* Fallback for older browsers without RGBA-support */
  background: rgba(225, 225, 225, 0.5);
  border-radius: 10px; }

.main-content {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/* IDS */
#intro-container {
  margin: 2rem;
  margin-top: 5rem; }

/* Responsive */
@media (min-width: 992px) {
  #intro-container {
    margin: auto;
    margin-top: 10rem; } }
